* {
  border: red solid 1px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #4e94db;
  padding: 20px 15px;
  height: 100px;
  align-items: center;
}

.nav__menu,
.status-bar {
  display: flex;
  justify-content: space-between;
}

.nav__title {
  font-size: 1.3rem;
}
.nav__seccions {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav__seccion {
  margin: 0 10px;
  font-size: 1.4rem;
}

.nav__section--active {
  font-weight: bold;
  color: white;
}

.status-bar {
  height: 80px;
  align-items: center;
  background-color: #f58e18;
  border-bottom: 1px solid #af6510;
}

.status {
  margin: 20px;
  font-size: 2rem;
}

.status__action {
  margin: 20px;
}
